body {
    color: #000;
    font: 14px/1.5 Ubuntu, Arial, Helvetica, Free sans, sans-serif;
}


a:link, a:visited, a:hover, a:active {
	color: #00A7EC;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#container {
	margin: 100px auto;
	width: 980px;
}

#top {
	background: url(../img/header-bg.png) no-repeat top center;
	height: 441px;
	margin-bottom: 20px;
}

#content {
	background: url(../img/background-bottom-grid.png) no-repeat bottom center;
}

#columns {
	height: 230px;
}

#columns > div {
	color: grey;
	float: left;
	height: 210px;
	padding: 0 30px;
	width: 266px
}

#column-userbase, #column-techbase {
	border-right: 1px solid #C3C3C3;
}

#columns h2 {
	margin-bottom: 21px;
}

#columns h2 > a {
	color: #00A7EC;
	font-size: 24px;
	font-weight: bold;
	line-height: 88px;
	padding-left: 5px;
}

#columns h2 > a > img {
	float: left;
}

#columns p {
	text-align: justify;
}

#content-bottom {
	background: url(../img/background-bottom-grid.png) no-repeat bottom center;
	clear: left;
	height: 63px;
}

#footer {
	background: url(../img/footer-bg.png) no-repeat top center;
	color: grey;
	height: 30px;
}

#footer > #authors {
	float: left;
}

#footer > #links {
	float: right;
}

#links > li {
	float: left;
	padding-right: 30px;
}

#footer a {
	text-decoration: none;
}

#footer a:link, #footer a:visited {
	color: grey;
}

#footer a:hover, #footer a:active {
	color: #00A7EC;
}

#carousel {
	position: relative;
}

#stopwatch {
	background-color: #00A7EC;
	height: 3px;
	left: 0;
	position: absolute;
	top: 0;
	width: 0;
	z-index: 100;
}

#pages {
	top: 312px;
	position: absolute;
	left: 897px;
	z-index: 200;
}

#pages > a {
	background: url(../img/page-off.png) no-repeat center center;
	display: block;
	float: left;
	height: 18px;
	margin-right: 3px;
	width: 18px;
}

#pages > a.selected {
	background: url(../img/page-on.png) no-repeat center center;
}